body{
     display: flex;
     flex-direction: column;
     gap: 20px; 
}
div{
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
button{
    padding: 10px 20px;
    width: 170px;
    border-radius: 20px;
    
}